@model List<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h2>CQRS Destination Datas</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>City</th>
        <th>DayNight</th>
        <th>Price</th>
        <th>Capacity</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.City</td>
            <td>@item.DayNight</td>
            <td>@item.Price</td>
            <td>@item.Capacity</td>
            <td><a href="/Admin/DestinationCQRS/DeleteDestination/@item.Id" class="btn btn-outline-danger">Delete</a></td>
            <td><a href="/Admin/DestinationCQRS/GetDestination/@item.Id" class="btn btn-outline-success">Update</a></td>
        </tr>
    }
</table>
<a href="/Admin/DestinationCQRS/AddDestination"class="btn btn-outline-primary">Enter New Destination</a>